.text-profile {
    font-size: 20px !important;
    color: #474747;
  }

  
  .textoBlanco {
    color: aliceblue !important;
    padding: 5px;
  }

  .margeiz {
    margin-left: 200px;
    border-radius: 50%;
  }

  .imagen {
    height: 300px;
  }

  .perfil {
    height: 150px;
    width: 150px;
  }
  
  .color-gray-txt {
    color: #9e9e9e;
  }

  .tama {
    font-size: 16px;
  }
  
  .icon-header {
    font-size: 20px;
  }
  
  .client-heart {
    margin-right: .5rem;
  }
  
  .icon-option {
    font-size: 30px;
  }
  
  .icon-star {
    color: #13cf13;
  }
  
  .icon-compass {
    color: #df2f29;
  }
  
  .icon-send {
    color: #00c0ff;
  }
  
  .line {
    border-bottom: 1px solid #9e9e9e;
    border-top: 1px solid #9e9e9e
  }
  
  .separation {
    margin-top: 30px;
  }
  
  .img-desing {
    border-radius: 15px;
  }
  
  .text-info {
    font-size: 15px;
  }
  