.d-flex {
    display: flex !important;
  }
  
  .flex-column {
    flex-direction: column !important;
  }
  
  .company-logo {
    position: relative;
    left: -40px;
    width: 84px;
    top: -5px;
  }
  .textoBlanco {
    color: aliceblue !important;
    padding: 5px;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .location-text {
    font-size: 11px;
  }
  
  .gray-color-text {
    color: #c4c4c4;
  }
  
  .send-msg-box {
    height: 15%;
    position: fixed;
    bottom: 0;
    left: 5%;
    right: 5%;
  
    .card {
      width: 100%;
    }
  }
  
  .send-msg-icon {
    font-size: 35px;
    color: #3880ff;
  }
  
  .rounded-circle {
    border-radius: 50%;
  }
  
  .msg-box-receiver {
    padding: 20px 15px 20px 30px;
    position: relative;
    background-color: white;
    border-radius: .4em;
    color: #787878;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    font-size: 13px;
    margin-left: 15px;
    width: 100%;
  }
  
  .msg-box-receiver:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #ffffff;
    border-left: 0;
    margin-top: -8px;
    margin-left: -8px;
  }
  
  .msg-box-sender {
    position: relative;
    background-color: #1761f2;
    border-radius: .4em;
    padding: 20px 15px 20px 30px;
    font-size: 13px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    margin-right: 15px;
    width: 100%;
    color: #ffffff;
  }
  
  .msg-box-sender:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #1761f2;
    border-right: 0;
    margin-top: -8px;
    margin-right: -8px;
  }
  
  .chat-box {
    height: 85%;
    overflow-y: auto;
  }
  
  ion-content {
    overflow-y: hidden;
  }
  
  .chat-img {
    width: 40%;
  }
  
  @media screen and (max-width: 1024px) {
    .chat-img {
      width: 70px;
    }
  }
  
  .mt-1 {
    margin-top: 0.5rem;
  }
  