.messages-badge {
    width: 20px;
    height: 20px;
    background-color: #3880ff;
    color: white;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
  }
  
  .preview-message {
    font-size: 0.8rem;
  }
  