<ion-header no-border>

  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/principal" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="textoBlanco" text-center> Registro </ion-title>

  </ion-toolbar>
  
  
</ion-header>



<ion-content padding>
<div class="contenedor">
  
<form class="mt-1">
    <ion-list class="ion-no-margin">

        
        <ion-item>
            <ion-label class="input-label textoBlanco" position="stacked">Nombre</ion-label>
            <ion-input class="textoBlanco" [(ngModel)]="nombre" name="nombre" type="text" placeholder="Nombre de Usuario"></ion-input>
        </ion-item>

        <ion-item class="d-flex align-items-center">
                <div  class="fileUpload btn btn-primary">
                        <ion-button >
                                <ion-icon name="attach"></ion-icon> Agregar Foto de Perfil
                            </ion-button>
                        <input
                        type="file"
                        accept="image/*" capture
                        class="upload"
                        (change)="uploadFile($event.target.files)"
                        />
                </div>
                <ion-card text-center *ngIf="percentage | async as pct">
                        <ion-card-content>
                            <div>
                                Subiendo: {{ pct | number }}%
                                <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
                                
                        </div>
                        <img *ngIf="pct == 100" src="{{imagen}}" height="50px" width="50px"/>
                        </ion-card-content>
                </ion-card>
        </ion-item>
        


        <ion-item>
            <ion-label class="textoBlanco">Estado</ion-label>
            <ion-select class="textoBlanco" [(ngModel)]="estado" name="estado"  value="{{estado}}" okText="seleccionar" cancelText="Cancelar" (ionChange)='cambioEstado(estado)'>
                <ion-select-option  *ngFor="let est of Estados.Estado">{{est}}</ion-select-option>
            </ion-select>
        </ion-item>
    
        <ion-item>
            <ion-label class="textoBlanco">Ciudad</ion-label>
            <ion-select class="textoBlanco" [(ngModel)]="ciudad" name="ciudad"  value="{{ciudad}}" okText="seleccionar" cancelText="Cancelar">
                <ion-select-option *ngFor="let municipio of Municipios.Municipio">{{municipio}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label class="input-label textoBlanco" position="stacked">Numero Telefonico</ion-label>
            <ion-input class="textoBlanco" [(ngModel)]="telefono" name="telefono" type="number" placeholder="Celular"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label class="textoBlanco">Genero</ion-label>
            <ion-select class="textoBlanco" [(ngModel)]="genero" name="genero" value="(no especificar)" okText="seleccionar" cancelText="Cancelar">
                <ion-select-option>Masculino</ion-select-option>
                <ion-select-option>Femenino</ion-select-option>
                <ion-select-option>(no especificar)</ion-select-option>
            </ion-select>
        </ion-item>


        <ion-item>
            <ion-label class="textoBlanco">Categoría</ion-label>
            <ion-select class="textoBlanco" [(ngModel)]="categoria" name="categoria"  value="{{categoria}}" okText="seleccionar" cancelText="Cancelar">
                <ion-select-option *ngFor="let cat of Categorias.Categoria">{{cat}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label class="textoBlanco">Tipo de Cuenta</ion-label>
            <ion-select class="textoBlanco" [(ngModel)]="tipoCuenta" name="tipoCuenta" value="USUARIO" okText="seleccionar" cancelText="Cancelar">
                <ion-select-option>USUARIO</ion-select-option>
                <ion-select-option>EMPRESA</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="tipoCuenta == 'EMPRESA'">
                <ion-label class="input-label textoBlanco" position="stacked">Direccion</ion-label>
                <ion-input class="textoBlanco" [(ngModel)]="direccion" name="direccion" type="text" placeholder="Direccion del Negocio"></ion-input>
        </ion-item>



        <ion-item>
            <ion-label class="input-label textoBlanco" position="stacked">Email</ion-label>
            <ion-input class="textoBlanco" [(ngModel)]="email" name="email" type="text" placeholder="ejemplo@gmail.com"></ion-input>
        </ion-item>
        <ion-item class="mt-1">
            <ion-label class="input-label textoBlanco" position="stacked">Contraseña</ion-label>
            <ion-input class="textoBlanco" [(ngModel)]="password" name="password" type="password" placeholder="******"></ion-input>
        </ion-item>

        <ion-item class="mt-1">
          <ion-label class="input-label textoBlanco" position="stacked"> Verificar Contraseña</ion-label>
          <ion-input class="textoBlanco" [(ngModel)]="Verificadapassword" name="Verificadapassword" type="password" placeholder="******"></ion-input>
        </ion-item>

    </ion-list>
</form>

<ion-button (click)="registrarUsuario()" mode="md" shape="round" class="mb-2 mt-1 login-button" color="success" expand="block">
    REGISTRARSE
</ion-button>
</div>

</ion-content>


