
  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    background-color: #10dc60;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.textoBlanco {
  color: aliceblue !important;
  padding: 5px;
}

.contenedor {
  height: 800px;
  width: 1300px;
  margin-left: 130px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
}