.view-more {
    font-size: 0.8rem;
  }
  
  .more-span {
    font-size: 1.3rem;
  }
  
  .textoBlanco {
    color: aliceblue !important;
    padding: 5px;
  }

  .imagenEX {
    height: 180px;
    width: 180px;
  }

  .imagenGE {
    height: 350px;
    margin: 50px;
    width: 350px;
  }


  