<app-cabezera-usuario-retorno titulo="Mi Perfil" Imagen={{Imagen}}></app-cabezera-usuario-retorno>

<ion-button fill="clear" (click)="cerrarSesion()">
    Cerrar Sesion
</ion-button>

<ion-content padding>

    <ion-grid class="p-0">
        <ion-row class="mb-1">

            <ion-col class="p-0">
                <ion-card mode="ios" class="m-0 p-1" color="success">
                    <h2 class="text-white">Datos de {{UsuarioActivo.Nombre}} </h2>
                </ion-card>
            </ion-col>
        </ion-row>


        <ion-row *ngFor="let brand of brands" (click)="enviarCorreo()">
            <ion-col justify-content-between>
                <ion-card mode="ios" class="m-0 p-1 d-flex w-100" justify-content-between>
                    <div class="d-flex">

                        <div class="ml-1" >
                            <h6 class="mt-0">{{brand.brandName}}</h6>
                            <span class="color-success">{{brand.savedMoney | currency}} info@publigram.biz</span>
                        </div>
                    </div>

                    <ion-button fill="clear">
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                    </ion-button>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>

